@{
    ViewData["Title"] = "Home Page";
}

<div style="position: absolute; left: 0px; top: 0px; width: 100%; height: 100%; background-color: bisque"></div>

<div style="position: absolute; left: 50%; top:50%; transform: translate(-50%, -150%);" class="input-group col-lg-4" id="searchBar" style="padding-top: 4%;">
    <input type="text" placeholder="Input a summoner name..."
           class="form-control" id="search">
    <div class="input-group-btn">
        <button id="serverBox" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">EUNE <span class="caret"></span></button>
        <ul class="dropdown-menu dropdown-menu-right">
            <li><a style="cursor: pointer" onclick="ChangeServer('EUNE')">EUNE</a></li>
            <li><a style="cursor: pointer" onclick="ChangeServer('RU')">RU</a></li>
            <li><a style="cursor: pointer" onclick="ChangeServer('KR')">KR</a></li>
            <li><a style="cursor: pointer" onclick="ChangeServer('EUW')">EUW</a></li>
        </ul>
    </div>
    <span class="input-group-btn">
        <button type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-search"></span>
        </button>
    </span>
</div>

<script>

    var serverBox = document.getElementById("serverBox");

    function ChangeServer(server) {

        serverBox.innerHTML = server + " ";
    }
</script>